body {
    background-color: #f1f1f1;
    overflow-y: scroll;
    overflow-x: hidden;
}

.innerwrap {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: grid;
    grid-template-rows: min-content 1fr;
    row-gap: 10px;
    grid-template-columns: min-content 1fr 1fr;
    column-gap: 40px;
    grid-template-areas:
        'sidebar classind classind'
        'sidebar rcard rcard';
}

.selectClassWrap {
    position: relative;
    margin-top: 30px;
    margin-left: 40px;
    display: grid;
    place-items: center;
    grid-area: 1/1/1/4;
    font-family: sofia-pro, sans-serif;
}

.classind {
    cursor: pointer;
    margin: auto;

    opacity: 0;

    height: 42px;
    width: min-content;

    border: none;
    border-radius: 21px;

    background-color: #EAEAEA;
    color: #505050;

    font-family: sofia-pro, sans-serif;

    grid-area: 1/1/1/4;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s ease;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
}
.classind:hover {
    background-color: #d6d6d6;
    box-shadow: 0px 0px 26px rgb(0, 0, 0, 0.04);
}
.classind:focus {
    outline: none;
    box-shadow: 0 0 0 5px rgb(242, 242, 242), 0 0 0 8px rgb(214, 214, 214);
}
.classind > option {
    white-space: nowrap;
    margin: 0 15px;
}

.innerwrap > span.material-icons {
    cursor: pointer;
    user-select:none;
    position: absolute;
    top: 25px;
    left: 30px;
    padding: 10px;
    border-radius: 50%;
    transition: 0.1s;
    z-index: 100;
}
.innerwrap > span.material-icons.focused {
    background-color:rgb(236, 236, 236);
}

.sidebarwrapper {
    position: relative;
    grid-area: sidebar;
    display: grid;
}

.sidebar {
    width: 0px;
    margin: auto;

    height: calc(100% - 200px);
    min-height: 500px;
    max-height: calc(100% - 200px);

    color: #C7C7C7;
    font-family: sofia-pro, sans-serif;
    font-weight: 500;
    font-size: 15px;

    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
.sidebar.expanded {
    display: grid;
    transition: 0.3s ease;
    overflow: hidden;
}
.sidebar.expanded::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: rgb(224 224 224);
    box-shadow: 2px 0 20px #00000042;
}
.sidebar > span {
    cursor: pointer;
    margin: auto 35px auto 40px;

    line-break: loose;
    white-space: nowrap;
    transition: 0.2s ease;
}
.sidebar > span.active {
    color: #606060;
}
.sidebar > span:hover {
    color: #606060;
}



.square {
    position: relative;
    margin: 20px 0;
    border-radius: 43px;
    /* background-color: #F6F6F6; */
    display: grid;
    grid-template-rows: 100px 1fr;
    height: calc(100% - 100px);
}

.square > div.title {
    margin: 25px auto auto 40px;
    color: #000000;
    font-family: sofia-pro, sans-serif;
    font-size: 31px;
    font-weight: 600;
}
.mailsquare {
    grid-area: card;
}
.mailList {
    position: absolute;
    margin-left: 40px;

    top: 80px;
    width: calc(100% - 80px);
    height: calc(100% - 100px);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto; row-gap: 14px;

    overflow-y: scroll;
}
.fadeout {
    display: none;
    position: absolute;
    height: 150px;
    bottom: 20px;
    left: 40px;
    right: 40px;
    /* width: 100%; */
    /* border-radius: 0 0 43px 43px; */
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgb(242 242 242));
}

.mailList::-webkit-scrollbar, .assignmentList::-webkit-scrollbar {
    display: none;
}

.email {
    height: 110px;

    border-radius: 26px;
    background-color: #f7f7f7;
    box-shadow: 0 3px 26px rgba(0, 0, 0, 0.021);
}
.resourcesquare {
    grid-area: rcard;
    width:100%;
    max-width: 950px;
    margin: 20px auto 0 auto;
}

/* WHOOSH ANIMATION!! */

/* WHOOSHING OUT */
@keyframes whooshOutLeft {
    0% {
        opacity:1;
        transform: translateX(0px);
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: translateX(-30px);
        opacity: 0;
    }
}
/* 0.3s cubic-bezier(.22,.69,.63,.83) 0s 1 normal forwards running whooshOutLeft */

@keyframes whooshOutRight {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: translateX(30px);
        opacity: 0;
    }
}
/* 0.3s cubic-bezier(.22,.69,.63,.83) 0s 1 normal forwards running whooshOutRight */

/* WHOOSHING IN */
@keyframes whooshInLeft {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
/* 0.3s cubic-bezier(0.37, 0.17, 0.78, 0.31) 0s 1 normal forwards running whooshInLeft */

@keyframes whooshInRight {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
/* 0.3s cubic-bezier(0.37, 0.17, 0.78, 0.31) 0s 1 normal forwards running whooshInRight */

.assignmentList {
    position: absolute;
    margin-left: 0px;
    top: 0px;
    width: calc(100% - 0px);
    height: calc(100% - 100px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    row-gap: 14px;
}
.assignmentList > .topicHeader {
    margin: 0 40px;
    height: min-content;

    font-family: sofia-pro, sans-serif;
}
.assignmentList > .topicHeader > .topicName {
    margin: 40px 0 20px 0;
    color: #cacaca;
    font-size: 30px;
}
 
.assignment:first-child, .email:first-child {
    margin-top: 20px;
}
.assignment {
    cursor: pointer;
    margin: 0 40px;
    height: min-content;
    border-radius: 25px;
    background-color: #f7f7f7;
    box-shadow: 0 3px 25px 0px rgb(0 0 0 / 1%);
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    grid-template-rows: 1fr min-content min-content;
    grid-template-areas:
        'title pts due'
        'desc desc desc'
        'att att att';
    grid-auto-flow: row;
    font-family: sofia-pro, sans-serif;
    transition: 0.2s ease;
}
.assignment:hover {
    transform: scale(1.03);
}
.assignment:active {
    transform: scale(1);
}

.assignment > div {
    white-space: nowrap;
}
.assignment > .title {
    white-space: normal;
    margin: 15px 0 5px 25px;
    max-width: calc(100% - 30px);
    overflow: hidden;
    color: rgb(75, 75, 75);
}
.assignment > .dueDate {
    margin: 15px 30px 5px 0px;
    color: rgb(148, 148, 148);
}
.assignment > .points {
    margin: 15px 20px 5px 0;
    color: rgb(214, 214, 214);
}


.assignment > .desc {
    max-width: calc(100% - 50px);
    font-size: 14px;
    line-height: 24px;
    white-space: normal;
    margin: 5px auto 15px 25px;
    color: rgb(214, 214, 214);
    grid-column: span 3;
}
.assignment > .attachments {
    margin: 0px 25px 20px 25px;
    color: rgb(214, 214, 214);
    grid-column: span 3;
}
.assignment > .attachments > div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;

    row-gap: 10px;
}

.assignment > .attachments:empty {
    display: none;
}
.attachmentItem {
    cursor: pointer;
    height: min-content;
    border: none;
    border-radius: 21px;
    background-color: #ffffff;
    color: #505050;
    font-family: sofia-pro, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
}
.attachmentItem:hover {
    background-color: #eaeaea;
    box-shadow: 0px 0px 26px rgb(0, 0, 0, 0.04);
}
.attachmentItem:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgb(247 247 247), 0 0 0 5px rgb(234 234 234);
}
.attachmentItem div {
    padding: 0 10px;
    margin: 14px 0;
    white-space: normal;
    color: #9bafac;
    text-decoration: none;
    font-weight: 500;
}
.attachmentItem:hover {
    color: #5d6d6a !important;
}


/* DUMMY */

.DUMMYassignmentList {
    display: none;
}


/* media */
@media (max-width: 820px) {
    .sidebar {
        display:none;
    }
    .selectClassWrap {
        margin:auto;
    }
    .innerwrap {
        right: 0;
        column-gap: 0;
    }
    .assignment, .assignmentList > .topicHeader {
        margin: 0 20px;
    }
    .assignment > .topicHeader {
        display: grid;
    }
    .assignment > .topicHeader > .topicName {
        margin: 30px auto 20px auto;
    }
    .square > div.title {
        margin: 25px auto auto auto;
    }
}

/* loader */
.fetchLoaderwrapper {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 40px;
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;

    transition: 0.2s ease;
}

.sk-cube-grid {
    width: 30px;
    height: 30px;
    margin: 0px auto;
  }
  
  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: rgb(136 136 136);
    float: left;
  }
  .sk-cube-grid .sk-cube.animating {
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
  }
  
  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    } 
  }

span.fetchText {
    font-family: 'sofia-pro';
    color: #000000;
    font-weight: 600;
    margin: auto 20px auto 10px;
}